#accordion {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    width: 200px;
}

.main-item {
    border-bottom: 1px solid #ccc;
    margin: 5px;
    background-color: #fff;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.subitems {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0px;
}

.subitems.hidden {
    display: none;
}

.subitems.show {
    display: block;
    animation: fadeIn 0.5s;

}
.subitems li {
    border-bottom: 1px solid #ccc;
    margin: 5px;
    background-color: #fff;
    padding: 10px;
}

.subitems a {
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    color: black;
}

.subitems li:hover a {
    color: red;
}
